<!DOCTYPE html>
<!-- module名の指定 -->
<html lang="ja" ng-app="phonecatApp">
	<head>
		<meta charset="utf-8">
		<title></title>
		
		<link rel="stylesheet" href="css/app.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		
		<script src="js/angular.min.js"></script>
		<script src="js/less-1.5.0.min.js"></script>
		<script src="js/controller.js"></script>
		
	</head>
	<!-- controller名の指定 -->
	<body ng-controller="PhoneListCtrl">
		<div class="container-fluid ">
			<div class="row-fluid">
				<div class="span2">
					Search: <input ng-model="query">
					Sort by:
					<select ng-model="orderProp">
						<option value="name">Alphabetical</option>
						<option value="age">Newest</option>
					</select>
				</div>
				<div class="span10">
					<ul class="phones">
						<!--
							オブジェクトの数だけリピート
							テキストボックスの文字列でフィルターをかける
							セレクターでソートをかける
						-->
						<li ng-repeat="phone in phones | filter:query | orderBy: orderProp">
							{{phone.name}}
							<p>{{phone.snippet}}</p>				
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>